extends layout
block content
  script(src='/javascripts/diff_match_patch.js')
  script(src='/javascripts/jquery.pretty-text-diff.min.js')
  script(src='/javascripts/jquery.dataTables.min.js')
  script(src='/javascripts/dataTables.semanticui.min.js')
  script.
    $(document).ready(function(){
      $("#wrapper tr").prettyTextDiff({cleanup:true});
      var table = $('table').DataTable();
      var idColumn = table.column(0);
      idColumn.visible(false);
    });
  link(rel='stylesheet', href='/stylesheets/dataTables.semanticui.min.css')
  style(type='text/css',media='screen').
    .original, .changed, .diff, .distance {font-family: 'PT Mono', monospace;}
    ins {text-decoration: none; background-color: #ccff00}
    del {text-decoration: line-through; color:red; #background-color: #ee8080}
  br
  br
  #file-compare
    .ui.middle.aligned.center.aligned.container
      .ui.six.statistics
        .orange.statistic
          .value #{total}
          .label segments
        .yellow.statistic
          .value #{faults}
          .label corrected
        .green.statistic
          .value #{trivial}
          .label trivial
        .teal.statistic
          .value #{minor}
          .label minor
        .blue.statistic
          .value #{major}
          .label major
        .violet.statistic
          .value #{critical}
          .label critical
    br
    br
    .ui.middle.aligned.center.aligned.container#wrapper
      table.ui.celled.teal.table
        thead
          tr
            th Segment id
            th Machine Translated
            th Post-edited
            th Difference
            th Distance
        tbody
          for thing in data
            tr
              td.id #{thing.id}
              td.original #{thing.original}
              td.changed #{thing.changed}
              td.diff
              td.distance #{thing.score}
  br
  br
